# Follows Python's configparser syntax. Characters '#' or ';' can start
# a comment. In line comment must be started with ';' though

[global]
logfile = logfile
media_dir = media 			; directory to store media
schedule_file = schedule-file
hdhomerun_config = ./hdhomerun_config 	; executable binary file

# Provide device id and tuner number list. Device id can be IP address
# of the hdhomerun network tuner.
#
# TODO: Use discover command and remove this.
tuners = 10306B1C:0, 10306B1C:1 	; list of deviceid,tuner numbers

# virtual to actual channel mappings. See
# http://www.silicondust.com/support/channels/ for more information.
#
# TODO: Use scan command and get this info.
[channelmap]
#virtual-channel = physical-channel program-number ;name-of-program
54.1   = 8vsb:49, 3	;KNVA-DT
54.2   = 8vsb:49, 4	;COOL-TV
42.1   = 8vsb:43, 1	;KEYE-DT
42.2   = 8vsb:43, 2	;KEYE-ST
31.2   = 8vsb:36, 1	;KAKW-DT
31.1   = 8vsb:36, 2	;KTFO-CD
24.1   = 8vsb:33, 1	;KVUE-DT
24.2   = 8vsb:33, 2	;NVUE-TV
24.3   = 8vsb:33, 3	;KVUE-3
18.1   = 8vsb:22, 3	;KLRU-HD
18.2   = 8vsb:22, 4	;KLRU-CR
18.3   = 8vsb:22, 5	;KLRU-Q
18.4   = 8vsb:22, 6	;KLRU-VM
36.1   = 8vsb:21, 3	;KXAN-DT
7.1    = 8vsb:7, 3	;KTBC-DT
