# Anything after '#' is taken as a comment.
# schedule syntax:
# name start-time how-long virtual-channel days
# name: Name of the program, quote it if you have blanks in it
# start-time: start time in yyyy-mm-dd hh:mm format
# how-long: time period to record in minutes
# virtual-channel: virtual channel (see config-file that has channel mappings)
# days to record: python weekday numbers, 0 for Monday, 1 for Tuesday,
#                 2 for Wednesday, 3 for Thursday, 4 for Friday, 5 for Satirday
#                 and 6 for Sunday. you can put 'once' for one time recording!
# 
Test	"2013-01-20 12:03" 30 18.2 0,1,2,3,4,5,6 # Week days
